

body{
    text-align: center;
    font: color #393d41 ;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-family: 'Open Sans', sans-serif;
}
h1 {
    color:#25a2c3 ;
    font: bold;
    line-height: 1.5rem
}

header{
    background-color: black ;
    padding: 20px;
    margin-bottom: 0%;
}
.epiclogo{
    max-width: 45%;
}

h3{
    color: #25a2c3;
    font-size: 22px;
    }

.divbanner{
    background-image: url('../img/banner.jpg');
    background-size: cover;
    size: 50rem;
    padding-top: 3px;

}
input{ 
    background-color: #f04c2f;
    color: white;
    font-size: large;
    border: none;
    border-radius: 5px;

}

.notebookke{
    border-radius: 100%;
    width: 90%;
    max-width: 40%;
}


.orange{
    background-color: #f04c2f; 
    padding-bottom: 7px;
    padding-top: 7px;


}

.picture1 ,.picture2, .picture3{
   
    width: auto;
    margin-left:0%;
    margin-bottom: 20px;
    box-shadow: 1px 1px #dee1e3;
}



.foto11, .foto22, .foto33{
   width: 100%;

}


footer{
    background-color: #25a2c3;
    color: white;
    padding-top: 20px;
    padding-bottom: 20px;
}

footer > h1 {
    color: white;
}

footer > a{
    color: white;
}

footer> a::before {


}