

body{
    text-align: center;
    font: color #393d41 ;
    font-size: 1.2rem;
    line-height: 1.6rem;
}
h1 {
    color:#25a2c3 ;
    font: bold;
    line-height: 1.5rem
}

header{
    background-color: black ;
    padding: 20px;
}
.epiclogo{
    max-width: 45%;
}

h3{
    color: #25a2c3;
}

.divbanner{
    background-image: url('../img/banner.jpg');
    background-size: cover;
    size: 50rem;

}
input{ 
    background-color: #f04c2f;
    color: white;
    font-size: large;
    border: none;
    border-radius: 5px;

}

.notebookke{
    border-radius: 100%;
}


.orange{
    background-color: #f04c2f; 
    padding-bottom: 10rem;


}

.picture1 ,.picture2, .picture3{
    border: solid 1px #dee1e3;
    
}



.foto11, .foto22, .foto33{
    min-width: 480px;

}


footer{
    background-color: #25a2c3;
    color: white;
}

footer > h1 {
    color: white;
}

footer > a{
    color: white;
}