@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
}

nav {
    text-align: center;
}

.part {
    background-color: bisque;
    border-top: 2px solid red;
    border-bottom: 2px solid bisque;
}

h1{
    text-align: center;
}


video{
  width: 100%
}

  div, aside, main, footer {
    width: 50%;
    text-align: left;
    margin: auto;

  }

   #linea {
    border-left:  3px solid yellowgreen;
  }

  h2{
    border-bottom: 2px solid aquamarine;
}


 


