@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html,
body {
    font-family: 'Roboto', sans-serif;
}

nav {
    text-align: center;
}

.part {
    background-color: bisque;
    border-top: 2px solid red;
    border-bottom: 2px solid bisque;
}

h1{
    text-align: center;
}



  div, aside, main, footer {
    padding-left: 25%;
    padding-right: 25%;
  }

  h2{
    border-bottom:2px solid aquamarine;
}


 


