body{
    background-image: url("../public/SL-042221-42420-03.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    color: white;
}
.Logo{
    color:azure
}
.listaris{
    height: 30px;
    background-color: azure;
}
footer{
    margin-top: 40%;
}