
.App{
  background-color: black;
  color:white;
}

.avatar{
  width: 35px;
  height: 35px;

}

.logo{
  height: 80px;
  width: 175px;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
